*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-container {
  background-color: black;
  /* padding: 20px; */
  height: 100vh;
  position: relative;
  transition: background 1s ease;
  overflow: hidden;
}

.pill-ship {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid black;
  background-color: aquamarine;
  border-radius: 0 10px 10px 0;
}

.ship-flame-off {
  position: absolute;
  left: -8px;
  top: 2px;
  width: 4px;
  height: 10px;
  background-color: rgba(255, 115, 0, 0.404);
  border-radius: 8px 0 0 8px;
}
.ship-flame {
  background-color: rgb(255, 115, 0);
}

p {
  color: white;
}

.top-left-container {
  border: 2px solid black;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
}

@keyframes starspin {
  0% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: yellow;
  }
}
.star-flare-container {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid yellow;
  /* transform: rotate(300deg); */
  animation: starspin 5s linear infinite;
  /* border-radius: 50%; */
}
